
.cal1{
	width: 161px;
	height: 184px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #080f4a;
	border-radius: 5px;

}
form{
	margin-top: 15px;
	width: 128px;
	margin: 0 auto;
	border: 13px solid red;
	padding: 10px;
	border-radius: 5px;
}

.cal2{
	width: 145px;
	margin: 0 auto;
}
.cal3{
	width: 145px;
	margin: 0 auto;
}
.cal4{
	width: 145px;
	margin: 0 auto;
}
.btn1st{
	width: 125px;
	border-radius: 5px;
}

.btn{
	width: 30px;
	background-color: #00a6ff;
	border-radius: 10px;
	margin-top: 2px;
}
.btnl{
	background-color: #f3a300;
}
.btnn{
	margin-top: 4px;
	width: 64px;
	background-color: #00a6ff;
	border-radius: 10px;
}